html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
  box-sizing: inherit;
}



body {
  background: #fff;
  margin: 0px;
  border: 0px;  

  font-family: arial,sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
  color: #5f6368;
}

input,
select,
button {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 146px 640px 1fr;
  grid-template-rows: 65px 38px 1fr 83px;
  margin-top: 20px;
}

header {
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: inherit;
  align-items: start;
}

.header-logo {
  padding: 8px 20px 10px 20px;
}

.header-logo__img {
  width: 92px;
  height: 30px;
}

.header-btn {
  flex: 1 1 auto;  
}

.header-search {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  align-items: center; 
}

.header-search:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.header-search__input {
  flex: 1 0 auto;
  font-size: 16px;
  height: 34px;
  padding-left: 20px;
  background: transparent;
  outline: none;
  border: none;
}

.header-search__mic {
  flex: 0 0 24px;
  height: 40px;
  margin: 0 8px;
  background: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png") 0 0 no-repeat;
  background-size: 24px;
  background-position: center; 
  cursor: pointer;
}


.header-search__btn {
  flex: 0 0 44px;
  height: 44px;
  padding: 0px 14px 0px 0px;   
  color: #000;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-search__btn-svg {
  height: 24px;
  width: 24px;
  fill: #4285f4;
}

.header-user {
  margin-left:auto;
  display: flex;
  align-items: center;
}

.header-user__svg {
  display: block;
  box-sizing: content-box;
  fill: #5f6368;
  height: 24px;
  width: 24px;
  margin-right: 20px;
  padding: 10px;
}

.header-user__svg:hover {
  border-radius: 50%;
  background-color: rgba(60,64,67,0.08);
}

.header-user__profile {
  display: block;
  width: 32px;
  height: 32px;
  box-sizing: content-box;
  border: 5px solid transparent;
  margin-right: 30px;
  background: url(https://lh3.googleusercontent.com/--naeS7GvNnk/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdRiUlRypfCV6Z0ELKfLu_XmA1Kwg.CMID/s64-c/photo.jpg) 0 0 no-repeat;
  background-size: 32px;
  background-clip: content-box;
  border-radius: 50%;
}

.header-user__profile:hover {
  border: 5px solid rgba(60,64,67,0.08);;
}

nav {
  grid-row: 2;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: inherit;
  border-bottom: 1px solid #ebebeb;
  font-size: 13px;
}

.nav-section {
  display: flex;
  align-items: flex-start;
  grid-column: 2;
  margin-left: 10px;
  color: #5f6368;
}

.nav-section > a:first-child {
  border-bottom: 3px solid #1A73E8; 
  color: #1A73E8;
}

.nav-section__btn {
  display: flex;
  padding: 7px 10px 12px 10px;
  fill: #5f6368;
}

.nav-section__btn:hover {
  color: #1A73E8;
  fill: #1A73E8
}

.nav-section__btn-svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.nav-tools {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: auto;
  padding-top: 3px;
}


.nav-tools__item {
  padding: 0 5px;
}

.nav-tools__item:first-child {
  padding-right: 12px;
}
.nav-tools__item:first-child:hover {
  color: #1A73E8;
}

.nav-tools__item:last-child {
  padding: 4px 11px;
  border: 1px solid transparent;
}

.nav-tools__item:last-child:hover {
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.main-search {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-search__info {
  margin: 10px 0px 20px 0px;
  color: #70757a;
}

.main-wrapper {
  padding: 0px 20px;
}

.main-search__item {
  margin-bottom: 30px;
}

.main-search__link {
  display: inline-block;
  padding-bottom: 5px;
  color: #3C4043;
  line-height: 1.3;
}

.main-search__link > span::after {
  display: inline-block;
  content: " ";
  border-color: #3C4043 transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  width: 5px;
  height: 5px;

  margin-left: 5px;
  vertical-align: middle;
  margin-top: -5px;
}

.main-search__header {
  display: inline-block;
  font-size: 20px;
  color: #1a0dab;
}

.main-search__item > a:hover .main-search__header {
  /*margin-bottom: -2px;
  border-bottom: 2px solid #1a0dab;*/
  text-decoration: underline;
}

.main-search__content {
  color: #3C4043;
  line-height: 1.5;
  margin-top: 5px;
}

.main-search__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e5;
  border-radius: 8px;

  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

.main-search__card > div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dfe1e5;
}

.main-search__card :first-child {
  font-size: 20px;
}

.main-search__card :last-child {
  border: none;
}

.main-search__card-feedback1 {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px 0px 0px;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 30px;
}

.main-search__card-feedback2 {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px 0px 0px;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
}

.main-search__card-svg {
  width: 24px;
  height: 24px;
  fill: #70757A;
}

.main-search__related {
  padding: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
}

.main-search__related > div:first-child {
  margin-bottom: 5px;
  font-size: 14px;
  color: #70757a;
}

.main-search__related > div:nth-child(2) {
  margin-bottom: 10px;
  font-size: 20px;
  color: #222;
}

.main-search__related > a {
  display: inline-block;
  margin-right: 16px;
}

.main-search__related img {
  object-fit: cover;
}

.main-search__related-list-row {
  display: inline-flex;
  flex-direction: column;
}

.main-search__related-list h3 {
  color: #222;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 8px;
}

.main-search__related-list-row  a  div {
  padding: 3px 32px 3px 0px;
  font-weight: bold;
  color: #1a0dab;
  line-height: 1.5;
} 

.main-search__related-list-row  a:hover > div{
  text-decoration: underline;
}


.main-search__footer {
  align-self: center;
  display: flex;
  text-align: center;
  margin: 30px 0px;
} 

.main-search__footer > a {
  color: #4285f4;
}

.main-search__footer-G {
  background:url(../img/nav_logo299.webp) no-repeat;  
  height: 40px;
  width: 28px;
  background-position: -24px 0;
}

.main-search__footer-or {
  background:url(../img/nav_logo299.webp) no-repeat;  
  height: 40px;
  width: 20px;
  background-position: -53px 0;
}

.main-search__footer-o {
  background:url(../img/nav_logo299.webp) no-repeat;  
  height: 40px;
  width: 20px;
  background-position: -74px 0;
}

.main-search__footer a:last-child {
  text-align: end;
}

.main-search__footer-gle {
  background:url(../img/nav_logo299.webp) no-repeat;  
  height: 40px;
  width: 71px;
  background-position: -96px 0;
}

.main-search__footer-char:first-child {
  width: 28px;
}

.main-search__footer > a:hover {
  text-decoration: underline;
}  




aside {
  grid-column: 3;
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  grid-column: 1 / 4;
  grid-row: 4;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 41px 42px;
  background: #f2f2f2; 
  color: #5f6368;
  border-top: 1px solid #e4e4e4;
}

.footer-location__grid {
  display: grid;
  grid-template-columns: inherit;
  grid-row: 1;
  grid-column: 1 / 4;

  border-bottom: 1px solid #e4e4e4;
}

.footer-location {
  grid-column: 2/4;
  display: flex;
  align-items: flex-start;

  padding-top: 10px;
  line-height: 1.5;
}

.footer-location div:first-child {
  font-size: 15px;
  color: rgba(0,0,0,.54);
  padding-right: 13px;
  border-right: 1px solid #e4e4e4;
  margin-right: 16px;
}

.footer-location div:nth-child(2) {
  color: #333;
  font-weight: bold;
}

.footer-location div:nth-child(2)::before {
  content: "";
  display: inline-block;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  background: #9e9e9e;
}

.footer-support {
  display: flex;
  align-items: center;
  grid-row: 2;
  grid-column: 2 / 4;
}

.footer-support a {
  padding-right: 27px; 
}